/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}
.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom, rgba(65, 199, 65, 0.596), rgba(144, 238, 144, 0.801) ) , url('../img/hero.jpg');
    background-size: cover;
    background-position: top;

    clip-path:polygon( 0 0,100% 0,100% 75%,0 100%);
    
}
/* 
.flex span{
    display: block;
    text-transform: uppercase;    
    letter-spacing: 10px;
}
.flex{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform:translate(-50%,-50%);
    color: white;
    font-size: 40px;
    font-weight: 900;
}


.flex .hello{
    animation: hello-world 2s ease-out; 
}

.flex .welcome{
    animation: welcome-home 2s ease-out;
}


@keyframes hello-world{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes welcome-home{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    80%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


.btn:link, .btn:visited{
    top: 40px;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 23px;
}

.btn-white{
    background-color: white;
    color: black;    
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;    
    top: 0;
    left: 0;
    z-index: -1;
}

.btn-white::after{
    background-color: white;    
}

.btn:hover::after{
    transform: scale(1.5);
} */



.heading-primary{
    color: #fff;
    text-transform: uppercase;
}


.hello{
    display: block;
    font-size: 60px;
    font-weight: 4400;
    letter-spacing: 35px;
    animation: welcome-home 2s;
}

.welcome{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 37px;
    animation: hello-world 2s;
    margin-bottom: 60px;    
}
.flex{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-45%,-45%);
    text-align: center;
}

@keyframes hello-world{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes welcome-home{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    80%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px; 
    transition: all .2s; 
    position: relative;
}

.btn-white{
    background-color: white;
    color: #777;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 1px 10px 20px rgba(0, 0, 0,.2);
    
}

.btn:active{
    transform: translateY(-1px);   
    box-shadow: 1px 5px 10px rgba(0, 0, 0,.2);
    
}

.btn::before{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;    
}

.btn-white::before{
    background-color: #fff;
}

.btn:hover::before{
    transform: scale(1.4,1.6 );
    opacity: 0;
}

@keyframes down{
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}


.btn-animation{
    animation: down 1s ease-out .7s;
    animation-fill-mode: backwards;    
}